[project]
	description = This project is for writing Tizen documents for platform and application developers. The documents will be published to the new Tizen portal site.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hyunjushin
[access "refs/for/refs/*"]
	read = group user/hyunjushin
	push = group user/hyunjushin
	label-Code-Review = -2..+2 group user/hyunjushin
	label-Verified = -1..+1 group user/hyunjushin
	rebase = group user/hyunjushin
	removeReviewer = group user/hyunjushin
	submit = group user/hyunjushin
[access "refs/heads/*"]
	read = group user/hyunjushin
	create = group user/hyunjushin
	push = +force group user/hyunjushin
	pushMerge = group user/hyunjushin
[access "refs/tags/*"]
	push = group user/hyunjushin
	push = +force group user/hyunjushin
